@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Assignment 2";
}
<!DOCTYPE html>
<html>
<body>
    <div class="container">
        <div class="box">
            <h1>Sarah Huang</h1>
        </div>

        <div class="box">
            <img src="img/me.JPG" alt="me and sister" width="300" />
            <p>I always enjoy eating meals with my family</p>
        </div>

        <div class="box">
            <h3>What I hope to get out of IS 413</h3>
            <p>
                I hope to get a better undestanding of websites and the internet. I've learned different methods of creating webpages and hosting sites,
                but in 413 I hope to learn how to use ASP.net and it's benefits and negatives. I am also excited to get more familiar with visual studio, as I usually use a mac device so I only use visual studio code.
            </p>
        </div>

        <div class="box">
            <h3>Top Three Jobs (subject to change)</h3>
            <ul>
                <li>Web Developer</li>
                <li>UX Designer</li>
                <li>Planning and Project Management</li>
            </ul>
        </div>
    </div>
</body>
</html>