@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Yusei+Magic&display=swap');

* {
    background-color: ghostwhite;
}

body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-family: 'Yusei Magic', sans-serif;
}

.container, .box{
    display: flex;
    flex-direction: column;
}

img {
    max-width: 100%;
    height: auto;
}

.box {
    padding: 10px;
    margin: 10px;
    justify-content: center;
    align-content: center;
}

input {
    padding: 2px;
    border: 1px solid;
    box-shadow: none;
    margin: 5px;
}

.nav-bar {
    display:flex;
    flex-direction: row;
}

.nav-button {
    background-color: blue;
    text-decoration: none;
    margin: 20px;
    display:flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}
